.HomePage {
    gap: 24px;
    justify-content: flex-start;
    padding-bottom: 32px;
    position: relative;
}

.card {
    width: 100%;
    min-height: 25vh;
    padding: 24px;
    border-radius: 16px;
    background-size: 130% 130%;
    background-position: center;
    justify-content: flex-end;

    img {
        width: 100%;
    }
}
